# Web framework
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20

# LangChain (совместимые версии для Python 3.13)
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-ollama==0.2.2
langchain-text-splitters==0.3.5

# Vector store
chromadb==0.5.23
langchain-chroma==0.1.4


redis==5.0.8
pydantic==2.10.4
requests==2.32.3
python-dotenv==1.0.1
pypdf==5.1.0
rank-bm25==0.2.2

langchain-gigachat==0.3.12
gigachat>=0.1.41,<0.2.0
numpy==1.26.4
pandas==2.2.3
pyarrow==18.1.0
scikit-learn>=1.5.0,<1.7.0
joblib==1.4.2
pandas==2.2.3
pyarrow==18.1.0